<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/0ad1be8d-6d56-4169-b0ad-2e6b31a25119/resourceGroups/WebApi20240701235619ResourceGroup/providers/Microsoft.ApiManagement/service/Easylibro/apis/EasyLibroApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/0ad1be8d-6d56-4169-b0ad-2e6b31a25119/resourcegroups/WebApi20240701235619ResourceGroup/providers/Microsoft.Web/sites/EasyLibroWebApi</ResourceId>
    <ResourceGroup>WebApi20240701235619ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://easylibrowebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7b05f0a9-0795-48e7-8d54-b7f388e73755</ProjectGuid>
    <PublishUrl>https://easylibrowebapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EasyLibroWebApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>